#footer {
	background: #fff;
	color: black;
	margin-top: 10px;
	padding: 5px;
	clear: left;
	text-align: center;
	font-size: 12pt;
}
#tmp {
	background: white;
	padding: 5px;
	clear: left;
}
#header {
	position: relative;
	font-weight: bold;
	font-size: 11px;
	padding: 7px 10px;
	line-height: 140%;
	background: #E9EDF1;
	color: #607387;
	border: solid #D9E0E7;
	border-width: 0px 1px;
}

#title b {
	position: relative;
}

#header h1 {
	margin: 0px;
	font-size: 11px;
	overflow: hidden;
}

#header span,#header b {
	color: #AAB7C5;
}

#sidebar {
	margin-top: 10px;
	width: 150px;
	padding: 0 10px;
	position: fixed;
	text-align: left;
	margin-left: 15%;
}

body {
	background: #fff;
	color: #000;
	margin: 0px;
	padding: 0px;
	direction: ltr;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 11px;
	font-weight: normal;
}

body.font_medium {
	font-size: 12px;
	font-family: Lucida Grande, Arial, tahoma, verdana, sans-serif;
}

body.nofixed {
	width: 100%;
	overflow: hidden;
}

body.nofixed #page_wrap {
	position: relative;
	height: 100%;
	width: 100%;
	overflow: auto;
}

.fixed {
	position: fixed;
}

body.nofixed .fixed,body.mobfixed .fixed {
	position: absolute;
}

body.firefox #page_wrap {
	position: relative;
	width: 100%;
	overflow: hidden;
}

body.firefox #page_body {
	overflow: hidden;
}

body.firefox #page_body.no_overflow {
	overflow: visible;
}

* html #content {
	height: 2%;
}

div.left_holiday {
	line-height: 140%;
	padding: 7px 3px;
	width: 112px;
}

div.left_holiday h4 {
	color: #b14344;
	border: 0px;
	margin: 0px;
}

h2 {
	border-bottom: 1px solid #DAE1E8;
	color: #45668E;
	font-size: 1.18em;
	padding: 0px 0px 3px;
	margin: 0px 0px 10px;
}

h4 {
	border-bottom: 1px solid #E8EBEE;
	color: #45688E;
	font-size: 11px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 0px 3px;
}

.font_medium h4 {
	font-size: 12px;
}

div#utils {
	top: -30px;
	position: absolute;
	height: 20px;
	overflow: hidden;
}