#content {
	margin-top: 10px;
	margin-left: 30%;
	padding: 10px;
	background: #fff;
}
#sidebar {
	margin-top: 10px;
	width: 200px;
	padding: 0 10px;
	position: fixed;
	text-align: left;
	margin-left: 10%;
}
h1 {
	text-shadow: 30px 20px 1px #00ff44;
	filter: dropshadow(color=#00ff44, offx=30, offy=20);
	text-align: center;
}