img {
	width: 90%;
}

.profile_info .l {
	width: 20%;
	color: #777;
}

.profile_info .la {
	width: 40%;
	overflow: hidden;
}
input[type="text"],textarea,select {
	padding: 5px;
	border: 1px solid #DDDDDD;
	/*Applying CSS3 gradient*/
	background: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE 1px, #FFFFFF 20px);
	background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF),
		color-stop(5%, #EEEEEE) to(#FFFFFF) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB',
		endColorstr='#FFFFFF' );
	/*Applying CSS 3radius*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*Applying CSS3 box shadow*/
	-moz-box-shadow: 0 0 2px #DDDDDD;
	-webkit-box-shadow: 0 0 2px #DDDDDD;
	box-shadow: 0 0 2px #DDDDDD;
}
textarea {
	width: 98%;
	resize: none;
}
input[type="submit"] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	width: 150px;
	color: #000;
	padding: 5px 10px 5px 10px;
	border: 1px solid #999;
	text-shadow: 0px 1px 1px #FFF;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #382AF5;
	background: -moz-linear-gradient(top, #ffcc66 0%, #ffe6b6 50%, #ffbc47 51%, #ffc75d
		100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#382AF5),
		to(#1B10AE), color-stop(0.4, #6257FD), color-stop(0.5, #fff),
		color-stop(.5, #6257FD), color-stop(0.9, #6257FD) );
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#382AF5',
		endColorstr='#1B10AE', GradientType=0 );
	cursor: pointer;
}

input[type="submit"]:hover {
	background: -moz-linear-gradient(top, #ffcc66 0%, #ffe6b6 50%, #ffe6b6 51%, #ffc75d
		100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#382AF5),
		to(#1B10AE), color-stop(0.4, #6257FD), color-stop(0.5, #fff),
		color-stop(.5, #fff), color-stop(0.9, #6257FD) );
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#382AF5',
		endColorstr='#1B10AE', GradientType=0 );
}
img {
	width: 90%;
}

.profile_info .l {
	width: 100px;
	color: #777;
}

.profile_info .la {
	width: 200px;
	overflow: hidden;
}
.profile_info {
	width: 140%;
}
h4 {
	text-align: center;
}

input[type="submit"] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #000;
	padding: 5px 10px 5px 10px;
	border: 1px solid #999;
	text-shadow: 0px 1px 1px #FFF;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #ffcc66;
	background: -moz-linear-gradient(top, #ffcc66 0%, #ffe6b6 50%, #ffbc47 51%, #ffc75d
		100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc66),
		to(#ffe6b6), color-stop(0.4, #ffe6b6), color-stop(0.5, #fff),
		color-stop(.5, #ffbc47), color-stop(0.9, #ffc75d) );
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#ffcc66',
		endColorstr='#ffe6b6', GradientType=0 );
	cursor: pointer;
}

input[type="submit"]:hover {
	background: -moz-linear-gradient(top, #ffcc66 0%, #ffe6b6 50%, #ffe6b6 51%, #ffc75d
		100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc66),
		to(#ffe6b6), color-stop(0.4, #ffe6b6), color-stop(0.5, #fff),
		color-stop(.5, #fff), color-stop(0.9, #ffc75d) );
	filter: progid:DXImageTransform.Microsoft.gradient(     startColorstr='#ffe6b6',
		endColorstr='#ffe6b6', GradientType=0 );
}
input[type="text"] {
	width: 80%;
}
img {
	width: 90%;
}

.profile_info .l {
	width: 100px;
	color: #777;
}

.profile_info .la {
	width: 200px;
	overflow: hidden;
}
.profile_info {
	width: 140%;
}