a:link,a:visited {
	color: blue
}

a:hover,a:active {
	color: red
}

.profile_info {
	line-height: 140%;
	padding: 10px 6px 15px;
}

.profile_info .block {
	padding-top: 10px;
}

.profile_info .miniblock {
	padding-top: 3px;
}

.profile_info .relation_request {
	position: relative;
}

.profile_info .relation_request small,.profile_info .relation_request .sdivide
	{
	color: #777;
}

.profile_info .relation_request .progress {
	position: absolute;
	left: 0px;
	top: 2px;
}

.profile_info {
	padding-bottom: 10px;
}

#profile_info .profile_info {
	padding-bottom: 5px;
}

.page_name {
	padding-bottom: 2px;
	max-width: 385px;
	overflow: hidden;
}

#profile_view_as a.fl_l {
	margin-left: 80px;
}

#profile_full_info h4 a.fl_r,#profile_full_info h4 a.fl_l {
	text-transform: none;
	background: #FFFFFF;
	color: #A3B0BC;
	padding: 0px 2px 0px 6px;
	font-style: normal;
	font-size: 0.9em;
}

.fl_l {
	float: left;
}

.fl_r {
	float: right;
}

.ta_l {
	text-align: left;
}

.ta_r {
	text-align: right;
}

.inl_bl {
	display: -moz-inline-stack;
	display: inline-block;
	_overflow: hidden;
	vertical-align: top;
	zoom: 1;
	*display: inline;
}

h4 .fl_r,h4 span {
	font-weight: normal;
}

#profile h4 a.fl_r {
	color: #2B587A;
}

.clear {
	float: none;
	clear: both;
}

.clear_fix:after {
	content: '.';
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

* html .clear_fix {
	height: 1%;
}

.clear_fix {
	display: block;
}

.delete_all .clear_fix {
	margin-top: 10px;
}

#profile_full_info {
	padding-bottom: 10px;
}

#profile_full_info h4 {
	border-bottom: none;
	height: 4px;
	border-bottom: 1px solid #DAE1E8;
	margin-bottom: 3px;
}

#profile_full_info h4 b {
	background: #FFFFFF;
	padding: 0px 6px;
}