#left {
	width: 250px;
	outline: 1px double #382838;
	outline-offset: 10px; /*Delete if you don't want an offset*/
	margin-left: 5px;
	margin-top: 5px;
	padding: 5px;
}

#content {
	margin-top: 10px;
	margin-left: 30%;
	padding: 10px;
	background: #fff;
	width: 55%;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 1);
	box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 1);
}

#right {
	width: 450px;
	margin-top: 5px;
}

#miniIco img {
	width: 90%;
	padding: 2%;
}

#miniIco {
	text-align: center;
}

#hrefs {
	margin: 10px 10px 10px 10px;
}

#friends {
	background-color: rgba(104, 145, 242, 0.5);
	color: rgba(255, 255, 255, 1);
	text-shadow: 5px 5px 2px #e0bce0;
	filter: dropshadow(color =       #e0bce0, offx =       5, offy =       5);
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

#under {
	background-color: rgba(209, 213, 209, 0.5);
	color: black;
	font-size: 10pt;
	text-align: left;
	padding-left: 10px;
	margin-top: -20px;
}

#groups {
	background-color: rgba(102, 178, 255, 0.5);
	color: rgba(255, 0, 0, 1);
	text-shadow: 5px 5px 2px #e0bce0;
	filter: dropshadow(color =       #152412, offx =       5, offy =       5);
	font-size: 16pt;
	font-weight: bold;
	text-align: center;
}

#central {
	margin: 0px 530px 0px 530px;
	height: 180px;
}

#col1 {
	-webkit-column-count: 3;
	-webkit-column-gap: 10px;
	column-count: 3;
	column-gap: 10px;
	-moz-column-count: 3;
	-moz-column-gap: 10px;
	max-height: 160px;
	min-height: 80px;
}

.profile_info .label {
	width: 185px;
	color: #777;
}

.profile_info .labeled {
	width: 250px;
	overflow: hidden;
}

#profile {
	padding: 10px 10px 0px;
}

#profile a {
	outline: none;
}

#profile h4 a {
	color: #45688E;
}

.wide_column {
	padding-bottom: 10px;
	width: 397px;
}

.narrow_column {
	padding-bottom: 10px;
	width: 200px;
}

h4.page_top {
	font-size: 12pt;
	background: #FFF;
	padding: 0px 6px 4px;
	margin: 0px;
	font-style: italic;
}

div.profile_grad {
	max-width: 385px;
	overflow: hidden;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}