input[type="text"],textarea,select {
	padding: 5px;
	border: 1px solid #DDDDDD;
	/*Applying CSS3 gradient*/
	background: -moz-linear-gradient(center top, #FFFFFF, #EEEEEE 1px, #FFFFFF 20px);
	background: -webkit-gradient(linear, left top, left 20, from(#FFFFFF),
		color-stop(5%, #EEEEEE) to(#FFFFFF) );
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FBFBFB',
		endColorstr='#FFFFFF' );
	/*Applying CSS 3radius*/
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	/*Applying CSS3 box shadow*/
	-moz-box-shadow: 0 0 2px #DDDDDD;
	-webkit-box-shadow: 0 0 2px #DDDDDD;
	box-shadow: 0 0 2px #DDDDDD;
}

#right {
	margin-top: 10px;
}

input[type="text"]:hover {
	border: 1px solid #cccccc;
}

input[type="text"]:focus {
	box-shadow: 0 0 2px #FFFE00;
}

textarea {
	width: 95%;
	resize: none;
}

select {
	width: 99%;
}

#content {
	margin-top: 10px;
	margin-left: 30%;
	padding: 10px;
	background: #fff;
	width: 45%;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 1);
	box-shadow: 1px 1px 1px 1px rgba(1, 1, 1, 1);
}

#hrefs {
	margin: 10px 10px 10px 10px;
}

#under {
	background-color: rgba(209, 213, 209, 0.5);
	color: black;
	font-size: 10pt;
	text-align: left;
	padding-left: 10px;
	margin-top: -20px;
}

.profile_info .label {
	width: 200px;
	color: #777;
}

.profile_info .labeled {
	width: 300px;
	overflow: hidden;
}

.profile_info .labeled input {
	width: 95%;
}

#profile {
	padding: 10px 10px 0px;
}

#profile a {
	outline: none;
}

#profile h4 a {
	color: #45688E;
}

.wide_column {
	padding-bottom: 10px;
	width: 397px;
}

.narrow_column {
	padding-bottom: 10px;
	width: 200px;
}

h4.page_top {
	font-size: 12pt;
	background: #FFF;
	padding: 0px 6px 4px;
	margin: 0px;
	font-style: italic;
}

div.profile_grad {
	max-width: 385px;
	overflow: hidden;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #000;
}

input[type="submit"] {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	color: #000;
	padding: 5px 10px 5px 10px;
	border: 1px solid #999;
	text-shadow: 0px 1px 1px #FFF;
	text-decoration: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background: #ffcc66;
	background: -moz-linear-gradient(top, #ffcc66 0%, #ffe6b6 50%, #ffbc47 51%, #ffc75d
		100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc66),
		to(#ffe6b6), color-stop(0.4, #ffe6b6), color-stop(0.5, #fff),
		color-stop(.5, #ffbc47), color-stop(0.9, #ffc75d) );
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ffcc66',
		endColorstr='#ffe6b6', GradientType=0 );
	cursor: pointer;
}

input[type="submit"]:hover {
	background: -moz-linear-gradient(top, #ffcc66 0%, #ffe6b6 50%, #ffe6b6 51%, #ffc75d
		100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#ffcc66),
		to(#ffe6b6), color-stop(0.4, #ffe6b6), color-stop(0.5, #fff),
		color-stop(.5, #fff), color-stop(0.9, #ffc75d) );
	filter: progid:DXImageTransform.Microsoft.gradient(   startColorstr='#ffe6b6',
		endColorstr='#ffe6b6', GradientType=0 );
}